{{.DoNotEditComment}}
package viewer

import (
	"fmt"
	"strconv"
	"strings"
)

type option struct {
	enabled bool
	full    bool
	formula string
}

func applyOptions(in []byte, opts ...option) (view []byte) {

	view = make([]byte, len(in))
	copy(view, in)
	for _, opt := range opts {
		if !opt.enabled {
			continue
		}
		if opt.full {
			return []byte("hidden")
		}
		view = applyFormula(view, opt.formula)
	}
	return
}

func hide(formula string) (o option) {
	return option{
		enabled: true,
		full:    formula == "-",
		formula: formula,
	}
}

func applyFormula(in []byte, formula string) (view []byte) {

	view = make([]byte, len(in))
	copy(view, in)

	var f, t int64
	switch {
	case formula == "fh":
		t = int64(len(in) / 2)
	case formula == "lh":
		f = int64(len(in) / 2)
	case formula == "md":
		f = int64(len(in) / 3)
		t = int64(len(in) - len(in)/3)
	case strings.Contains(formula, ":"):
		params := strings.Split(formula, ":")
		if len(params) == 2 {
			f, _ = strconv.ParseInt(params[0], 10, 32)
			t, _ = strconv.ParseInt(params[1], 10, 32)
		}
	default:
		return []byte(strings.Repeat("*", len(in)))
	}

	view = append(view[:f], []byte(strings.Repeat("*", len(in)-int(f)))...)
	if t != 0 {
		view = append(view[:t], in[t:]...)
	}
	return
}

func applyOptionText(in string, opt option) (out string) {
	return string(applyOptions([]byte(in), opt))
}

func optionFromAny(v any, opt option) (out any) {

	if !opt.enabled {
		return v
	}
	return applyOptionText(fmt.Sprintf("%v", v), opt)
}
