package contracts

import (
	"context"
{{if .NeedDtoImport}}

	"github.com/google/uuid"
	"{{.Module}}/contracts/dto"
{{end}}
)
{{if eq .Kind "jsonrpc"}}
// @tg http-prefix={{.HTTPPrefix}}
// @tg jsonRPC-server log metrics
type {{.PublicName}} interface {
	Do(ctx context.Context) (err error)
}
{{end}}
{{if eq .Kind "rest"}}
// @tg http-prefix={{.HTTPPrefix}}
// @tg http-server log metrics
type {{.PublicName}} interface {
	// @tg http-method=POST
	// @tg http-path=/{{.EntitySnake}}
	Create(ctx context.Context, some dto.SomeObject) (object *dto.SomeObject, err error)
	// @tg http-method=GET
	// @tg http-path=/{{.EntitySnake}}/:id
	Get(ctx context.Context, id uuid.UUID) (object *dto.SomeObject, err error)
	// @tg http-method=PUT
	// @tg http-path=/{{.EntitySnake}}/:id
	Update(ctx context.Context, id uuid.UUID, update dto.SomeObject) (object *dto.SomeObject, err error)
	// @tg http-method=DELETE
	// @tg http-path=/{{.EntitySnake}}/:id
	Delete(ctx context.Context, id uuid.UUID) (err error)
	// @tg http-method=GET
	// @tg http-path=/{{.EntitySnake}}
	List(ctx context.Context) (objects []dto.SomeObject, err error)
}
{{end}}
