// @tg version=v1.0.0
// @tg title=`{{.Module}} service API`
// @tg description=`A service which provide some API`
// @tg servers=`https://localhost:9000;local`
//
//go:generate tg server --out internal/transport
//go:generate tg swagger --out api/swagger.json
package contracts
