{{.DoNotEditComment}}
package srvctx

import (
	"context"
	"log/slog"
	"reflect"
)

type ClientID string
type contextKey string

func keyFor[T any]() (s string) {

	return cachedKey(reflect.TypeOf((*T)(nil)).Elem())
}

func WithCtx[T any](ctx context.Context, value T) (out context.Context) {

	return context.WithValue(ctx, contextKey(keyFor[T]()), value)
}

func FromCtx[T any](ctx context.Context, defaults ...T) (value T) {

	var ok bool
	if value, ok = ctx.Value(contextKey(keyFor[T]())).(T); !ok {
		if len(defaults) != 0 {
			value = defaults[0]
		}
	}
	return
}

func GetLogger(ctx context.Context) (l *slog.Logger) {
	return FromCtx[*slog.Logger](ctx)
}

func GetClientID(ctx context.Context) (s string) {

	if id := FromCtx[ClientID](ctx); id != "" {
		return string(id)
	}
	return "unknown"
}
